<style>
    table {
        border-collapse: collapse;
    }

    td, tr {
        border: 1px solid #000000;
    }
</style>
<table>
    <tr>
        <td>Имя (на английском)</td>
        <td>Название</td>
        <td>Тип</td>
        <td>Действие</td>
    </tr>
    <tr ng-repeat="row in rows track by $index">
        <td><input type="text" ng-model="row[0]"></td>
        <td><input type="text" ng-model="row[1]"></td>
        <td><select ng-model="row[2]"><option>CHAR</option><option>INT</option><option>DATE</option></select></td>
        <td><button ng-click="removeRow($index)" ng-show="rows.length > 1">Удалить</button><button ng-click="addRow()">Добавить</button></td>
    </tr>
</table>

<table style="margin-top: 10px;">
    <tr>
        <td>Имя модели (на английском)</td><td><input type="text" ng-model="name"></td>
    </tr>
    <tr>
        <td>Наименование модели</td><td><input type="text" ng-model="title"></td>
    </tr>
</table>

<button ng-click="createModel()">Создать</button>

