<div style="width: 300px; float: left;" ng-controller="ListController" ng-init="loadModels();">
    <a href="#/index/create">Создать модель</a><br>
    Список моделей:
    <ul>
        <li ng-repeat="model in models"><a href="#/index/{{ model.name }}">{{ model.title }}</a></li>
    </ul>
</div>
<div  style="width: 500px; float: left;" ui-view></div>