<style>
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 500px;
        height: 300px
    }
</style>
<div class="gridStyle" ng-grid="gridOptions"></div>
<button ng-click="remove()">Удалить выделенные записи</button>
<button ng-click="add()">Добавить запись</button>

